* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*font-family: 'Poppins', sans-serif;*/
	font-family: 'Jost', sans-serif;
	
}
#portfolio {
	background-color: #F8E6CB;
}



nav {
	background-color: #26648E;
	color: white;
}

.active {
	font-weight: 700;
}

.display-4 {
	font-size: 55px;
	font-weight: 700;

}
#about {
	padding-top: 70px;
	margin: auto;
	min-height: 100vh;
}

#contact {
	background-color: #64C4C3;
	padding-top: 70px;
	margin: auto;
	min-height: 100vh;
}

#portfolio {
	padding-top: 70px;
	margin: auto;
	min-height: 100vh;
}


.jumbotron {
	color: white;
	padding-top: 200px;
	padding-bottom: 100px;
	/*min-width: 100%;*/
	min-height: 100vh;
	background: linear-gradient(to top, rgba(100, 196, 195, 0.5) 0%,rgba(38, 100, 142,1) 100%), url(images/bg.jpg) no-repeat center center ;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.jumbotron p {
	text-shadow: 1px 4px 4px #555;
}

.progress {
	margin-bottom: 20px;
}

.footer-bottom {
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: space-evenly;*/
  text-align: center;
  width: 100%;
  padding-top: 10px;
  margin: auto;
  height: 40px;

}


footer {
	 background-color: #26648E;
	 color: white;
}

.contact {
	margin-bottom: 200px;
}
.contact h1 {
	margin-bottom: 50px;
}
.progress {
	width: 300px;
}

.skill-1 {
	width: 90%;
}
.skill-2 {
	width: 80%;
}
.skill-3 {
	width: 40%;
}
.skill-4 {
	width: 75%;
}
.skill-5 {
	width: 50%;
}
.skill-6 {
	width: 40%;
}
.skill-7 {
	width: 80%;
}
.skill-8 {
	width: 90%;
}
.skill-9 {
	width: 50%;
}

@media (min-width: 320px) { 
	.progress {
	width: 100%;
}

}


